# ==========================================
# ShopGenie Backend Environment Template
# ==========================================

PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/shopgenie

# Better Auth Configuration
BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_URL=http://localhost:5000

# Manual MFS Payment Account Numbers
MANUAL_BKASH_NUMBER=018XXXXXXXX
MANUAL_NAGAD_NUMBER=018XXXXXXXX
MANUAL_ROCKET_NUMBER=018XXXXXXXX
